/ {
    keymap {
        compatible = "zmk,keymap";

        /*
         * Matrix is 5 rows x 6 columns (row-major).
         * You stated: 6 keys on top 4 rows (24 total) and 5 keys on bottom row (last is unused).
         * The last position in the bottom row is set to &none.
         */

        default_layer {
            bindings = <
                /* Row 0 */
                &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T
                /* Row 1 */
                &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G
                /* Row 2 */
                &kp LSFT  &kp Z     &kp X     &kp C     &kp V     &kp B
                /* Row 3 */
                &kp LCTRL &kp LGUI  &kp LALT  &kp SPACE &kp ENTER &kp BSPC
                /* Row 4 (only 5 keys used) */
                &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &kp DEL   &none
            >;
        };
    };
};