#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        /* Adjust these indices as you prefer; these are valid 0..28 choices */

        bt_sel_3 {
            bindings = <&bt3>;
            key-positions = <27 28>; /* SPACE + MO(1) (thumbs) */
            layers = <2>;            /* active on fn layer */
        };

        bt_sel_4 {
            bindings = <&bt4>;
            key-positions = <25 26>; /* LALT + LCTRL (thumbs) */
            layers = <2>;
        };

        enter_gaming {
            bindings = <&sl 3>;      /* switch to layer 3 (gaming) */
            key-positions = <12 13 14>; /* TAB + A + S */
            layers = <2>;               /* active on fn layer */
        };

        leave_gaming {
            bindings = <&sl 0>;      /* back to base */
            key-positions = <20 21 22>; /* X + C + V */
            layers = <4>;               /* active on gaming_num */
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <13 25>; /* A + LALT */
            layers = <3>;            /* active on gaming */
        };
    };

    macros {
        bt_clr_0: bt_clr_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_CLR>;
            label = "BT_CLR_0";
        };

        bt_clr_1: bt_clr_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_CLR>;
            label = "BT_CLR_1";
        };

        bt_clr_2: bt_clr_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_CLR>;
            label = "BT_CLR_2";
        };

        bt_clr_3: bt_clr_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_CLR>;
            label = "BT_CLR_3";
        };

        bt_clr_4: bt_clr_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 4 &bt BT_CLR>;
            label = "BT_CLR_4";
        };
    };

    behaviors {
        bt0: bt0 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT0";
            bindings = <&bt BT_SEL 0>, <&bt_clr_0>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt1: bt1 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT1";
            bindings = <&bt BT_SEL 1>, <&bt_clr_1>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt2: bt2 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT2";
            bindings = <&bt BT_SEL 2>, <&bt_clr_2>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt3: bt3 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT3";
            bindings = <&bt BT_SEL 3>, <&bt_clr_3>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        bt4: bt4 {
            compatible = "zmk,behavior-mod-morph";
            label = "BT4";
            bindings = <&bt BT_SEL 4>, <&bt_clr_4>;
            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* Index layout: 
           0..5   = Row 0  (6 keys)
           6..11  = Row 1  (6 keys)
           12..17 = Row 2  (6 keys)
           18..23 = Row 3  (6 keys)
           24..28 = Thumbs (5 keys)
        */

        base {
            bindings = <
/*  0..5  */  &bt BT_CLR  &bt1      &kp N2      &kp N3      &kp N4      &kp N5
/* 6..11  */  &kp ENTER   &kp Q       &kp W       &kp E       &kp R       &kp T
/*12..17  */  &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G
/*18..23  */  &kp LBKT    &kp Z       &kp X       &kp C       &kp V       &kp B
/*24..28  */  &kp LGUI    &kp LALT    &kp LCTRL   &kp SPACE   &mo 1
            >;
        };

        num {
            bindings = <
/*  0..5  */  &none       &none       &none       &none       &none       &none
/* 6..11  */  &none       &kp ESC     &kp BACKSPACE &kp TAB   &kp ENTER   &kp DEL
/*12..17  */  &none       &kp LGUI    &kp LALT     &kp LCTRL   &kp LSHFT   &kp LBKT
/*18..23  */  &none       &kp LEFT    &kp DOWN     &kp UP      &kp RIGHT   &kp RBKT
/*24..28  */  &trans      &trans      &trans       &trans      &none
            >;
        };

        fn {
            bindings = <
/*  0..5  */  &bt BT_CLR  &bt1        &bt2        &bt3        &bt4        &bt5
/* 6..11  */  &none       &kp F12     &kp F7      &kp F8      &kp F9      &soft_off
/*12..17  */  &none       &kp F10     &kp F4      &kp F5      &kp F6      &kp CAPS
/*18..23  */  &none       &kp F11     &kp F1      &kp F2      &kp F3      &studio_unlock
/*24..28  */  &trans      &trans      &trans      &trans      &none
            >;
        };

        gaming {
            bindings = <
/*  0..5  */  &kp ESC     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
/* 6..11  */  &kp CAPS    &kp TAB     &kp Q       &kp W       &kp E       &kp R
/*12..17  */  &kp ENTER   &kp LSHFT   &kp A       &kp S       &kp D       &kp F
/*18..23  */  &kp LBKT    &kp LCTRL   &kp Z       &kp X       &kp C       &kp V
/*24..28  */  &kp T       &kp G       &kp B       &kp SPACE   &mo 4
            >;
        };

        gaming_num {
            bindings = <
/*  0..5  */  &trans      &trans      &trans      &trans      &trans      &trans
/* 6..11  */  &trans      &kp ESC     &kp BSPC    &kp CAPS    &kp ENTER   &kp DEL
/*12..17  */  &trans      &kp N1      &kp N2      &kp N3      &kp N4      &kp N5
/*18..23  */  &trans      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
/*24..28  */  &trans      &trans      &trans      &trans      &trans
            >;
        };
    };
};